.event-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-card h2 {
  margin-top: 0;
  font-size: 24px;
}

.event-card p {
  margin-bottom: 10px;
}

.event-card .btn {
  margin-top: 10px;
}
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination-button {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-button:hover {
    background-color: #f0f0f0;
  }
  .active{
    background-color: cadetblue;
    color: black;
  }
  